<div>
    <form action="/todos/" method="post">
        <label name="title">Create a new to do item for your to do list</label>
        <input name="title" type="input" />

        <label name='description'>Details About The ToDo</label>
        <input name='description' type="input" />
        <input label='submit' type="submit" />
    </form>
</div>